@use './../mixins/media-query' as media-query;

$columns: 12;

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  box-sizing: border-box;
  padding: 0 3.6rem;
}

@include media-query.md() {
  .container {
    height: fit-content;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.2rem;
}

.col {
  padding: 0 1.2rem;
}

@mixin col($i) {
  width: calc(100% / #{$columns} * #{$i});
  padding: 0 1.2rem;
}
@mixin row-col($i) {
  width: calc(100% / #{$i});
  padding: 0 1.2rem;
}

@for $i from 1 to $columns + 1 {
  .col-#{$i} {
    @include col($i);
  }

  @include media-query.lg() {
    .col-lg-#{$i} {
      @include col($i);
    }
  }

  @include media-query.md() {
    .col-md-#{$i} {
      @include col($i);
    }
  }

  @include media-query.sm() {
    .col-sm-#{$i} {
      @include col($i);
    }
  }

  .row-cols-#{$i} {
    .col {
      @include row-col($i);
    }
  }

  @include media-query.lg() {
    .row-cols-lg-#{$i} {
      .col {
        @include row-col($i);
      }
    }
  }

  @include media-query.md() {
    .row-cols-md-#{$i} {
      .col {
        @include row-col($i);
      }
    }
  }

  @include media-query.sm() {
    .row-cols-sm-#{$i} {
      .col {
        @include row-col($i);
      }
    }
  }
}

@media print {
  @page {
    size: A4;
  }

  @for $i from 1 to $columns + 1 {
    .col-print-#{$i} {
      @include col($i);
    }
  }

  .container {
    width: 100%;
    height: auto;
    background-color: white;
    box-sizing: border-box;
  }
}
