@use './../mixins/media-query' as media-query;

@mixin displayer($sufix: null) {
  @if $sufix {
    $sufix: '-' + $sufix;
  }

  .d-block#{$sufix} {
    display: block !important;
  }

  .d-grid#{$sufix} {
    display: grid !important;
  }

  .d-flex#{$sufix} {
    display: flex !important;
  }

  .d-inline#{$sufix} {
    display: inline !important;
  }

  .d-inline-flex#{$sufix} {
    display: inline-flex !important;
  }

  .d-inline-block#{$sufix} {
    display: inline-block !important;
  }

  .d-none#{$sufix} {
    display: none !important;
  }
}

@include displayer();

@include media-query.xl() {
  @include displayer('xl');
}

@include media-query.lg() {
  @include displayer('lg');
}

@include media-query.md() {
  @include displayer('md');
}

@include media-query.sm() {
  @include displayer('sm');
}

@media print {
  @include displayer('print');
}
