@use './../mixins/media-query' as media-query;

@mixin flexer($sufix: null) {
  .flex-row#{$sufix} {
    flex-direction: row !important;
  }

  .flex-column#{$sufix} {
    flex-direction: column !important;
  }

  .flex-wrap#{$sufix} {
    flex-wrap: wrap !important;
  }

  .flex-nowrap#{$sufix} {
    flex-wrap: nowrap !important;
  }

  .align-items-center#{$sufix} {
    align-items: center !important;
  }

  .align-items-start#{$sufix} {
    align-items: flex-start !important;
  }

  .align-items-end#{$sufix} {
    align-items: flex-end !important;
  }

  .align-items-baseline#{$sufix} {
    align-items: baseline !important;
  }

  .align-self-start#{$sufix} {
    align-self: flex-start !important;
  }

  .align-self-normal#{$sufix} {
    align-self: normal !important;
  }

  .align-self-center#{$sufix} {
    align-self: center !important;
  }

  .align-self-end#{$sufix} {
    align-self: flex-end !important;
  }

  .justify-content-center#{$sufix} {
    justify-content: center !important;
  }

  .justify-content-start#{$sufix} {
    justify-content: flex-start !important;
  }

  .justify-content-end#{$sufix} {
    justify-content: flex-end !important;
  }

  .justify-content-between#{$sufix} {
    justify-content: space-between !important;
  }

  .justify-content-around#{$sufix} {
    justify-content: space-around !important;
  }

  .flex-equal#{$sufix} {
    flex: 1 1 auto !important;
  }

  .flex-auto#{$sufix} {
    flex: 1 1 auto !important;
  }

  .flex-grow-0#{$sufix} {
    flex-grow: 0 !important;
  }

  .flex-grow-1#{$sufix} {
    flex-grow: 1 !important;
  }

  .flex-shrink-0#{$sufix} {
    flex-shrink: 0 !important;
  }

  .flex-shrink-1#{$sufix} {
    flex-shrink: 1 !important;
  }
}

@include flexer();

@include media-query.xl() {
  @include flexer('xl');
}

@include media-query.lg() {
  @include flexer('lg');
}

@include media-query.md() {
  @include flexer('md');
}

@include media-query.sm() {
  @include flexer('sm');
}

@media print {
  @include flexer('print');
}
