@use './../mixins/media-query' as media-query;

$size: (0, 10, 25, 50, 75, 100);

@mixin sizer($val, $sufix: null) {
  @if $sufix {
    $sufix: '-' + $sufix;
  }

  .w-#{$val}#{$sufix} {
    width: unquote('#{$val}%') !important;
  }
  .w-#{$val}v#{$sufix} {
    width: unquote('#{$val}vw') !important;
  }
  .w-fit#{$sufix} {
    width: fit-content;
  }

  .h-#{$val}#{$sufix} {
    height: unquote('#{$val}%') !important;
  }
  .h-#{$val}v#{$sufix} {
    height: unquote('#{$val}vh') !important;
  }
  .h-fit#{$sufix} {
    height: fit-content;
  }
}

@each $val in $size {
  @include sizer($val);

  @include media-query.xl() {
    @include sizer($val, 'xl');
  }

  @include media-query.lg() {
    @include sizer($val, 'lg');
  }

  @include media-query.md() {
    @include sizer($val, 'md');
  }

  @include media-query.sm() {
    @include sizer($val, 'sm');
  }

  @media print {
    @include sizer($val, 'print');
  }
}
